## Reference

## TestData

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'a': [1, 3, 7, 4],
              'b': [17, 86, 52, 68],
              'c': [134, 874, 592, 246],
             })

   a   b    c
0  1  17  134
1  3  86  874
2  7  52  592
3  4  68  246

In [5]:
import numpy as np
df = pd.DataFrame(np.array([[1, 17, 134],
                      [3, 86, 874],
                      [7, 52, 592],
                           [4, 68, 246]]),
            columns=['a', 'b', 'c'])
df

   a   b    c
0  1  17  134
1  3  86  874
2  7  52  592
3  4  68  246

## #1. map함수

* Python map()함수
    * https://bluese05.tistory.com/58

map()함수는 built-in함수로 list나 dictionary와 같은 iterable한 데이터를 인자로 받아 list 안의 개별 item을 함수의 인자로 전달하여 결과를 list 형태로 반환해주는 함수이다.

In [8]:
def func(x):
    return x*2

<code>func()</code>함수는 인자로 받은 정수를 두배로 곱하여 반환해주는 매우 간단한 함수이다.<br>
이 함수에 인자를 map()함수를 이용해 전달해보자.

In [16]:
print(map(func, [1, 2, 3, 4]))

<map object at 0x0000018CA674DDC8>

In [17]:
list(map(func, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [18]:
x = {1:10, 2:20, 3:30}
print(map(func, x))

<map object at 0x0000018CA6744D48>

In [21]:
list(map(func, x))

[2, 4, 6]

In [22]:
list(map(func, [x[i] for i in x]))

[20, 40, 60]

## Python Lambda함수
* Reference - lambda함수
    * https://offbyone.tistory.com/73

파이썬에서 lambda는 런타임에서 생성해서 사용할 수 있는 익명 함수이다.<br>
filter(), map(), reduce()와 같은 전형적인 개념과 함께 사용되는 매우 강력한 개념이다.

<coce>lambda</code>는 쓰고 버리는 일시적인 함수이다. 함수가 생성된 곳에서만 필요하다.<br>
즉, 간단한 기능을 일반적인 함수와 같이 정의해 두고 사용하는 것이 아닌 필요한 곳에서 즉시 사용하고 버리는 것이라 이해할 수 있다.

<code>lambda 인자리스트: 표현식</code>

In [23]:
g = lambda x: x**2
print(g(8))

64

In [24]:
plus_two = lambda x: x+2
print(plus_two(5))

7

다음은 lambda 함수의 사용법입니다.

In [25]:
def inc(n):
    return lambda x: x+n

In [26]:
f = inc(2)

In [27]:
g = inc(4)

In [28]:
print(f(12))

14

In [29]:
print(g(12))  # return 16

16

In [30]:
print(inc(2)(12))

14

이처럼 즉각적으로 lambda 함수를 사용할 수 있고 더이상 필요하지 않을 때 잊어 버릴 수 있습니다.

### 1. map()함수

**lambda함수의 장점은 map()함수와 함께 사용될 때 볼 수 있습니다.**<br>
map() 함수는 두 개의 인수를 가지는 함수입니다.

r = map(function, iterable, ...)

* 첫 번쨰 인자 function은 함수의 이름입니다.
* 두 번째 인자 iterable은 한 번에 하나의 멤버를 반환할 수 있는 객체입니다.

In [31]:
a = [1, 2, 3, 4]
b = [17, 12, 11, 10]
list(map(lambda x, y: x + y, a, b))  # 18, 14, 14, 14

[18, 14, 14, 14]

### 2. filter()함수

filter()함수도 두 개의 인자를 가집니다.

r = filter(function, iterable)

In [33]:
foo = [2, 18, 9, 22, 17, 24, 8, 12, 27]
list(filter(lambda x: x % 3 ==0, foo))

[18, 9, 24, 12, 27]

True를 반환하면 그 요소는 남게되고, Fale를 반환하면 그 요소는 제거됩니다.

설명이...너무 좋다...!